<!DOCTYPE html>
<br>
<head>
    <meta charset="UTF-8">
    <title>Math 506 Project 2 - Mustafa Shuala (g202006920)</title>
</head>
<img src='../static/kfupm_logo.jpg'>
<h1>MATH 506 - Fundamentals of Data Science</h1>
<hr>
<h1>Data Retrieval using Twitter API and Dynamic Web Site Design using Flask</h1><br>
<h2>By: Mustafa Shuala (Fall 2020) </h2><br>
<br>Thank you for using my first flask application. This exercise is showing how cool and powerful data science is! This little application retrieves tweets from Twitter API about any word of your interest (i.e COVID) and plots a wordcloud map of the retrieved tweets to determine the most important word.

</br>

<form role="form" id='form' action="../wordcloud" method="POST">
    <h1><label form="fname">Give it a try!:</label></h1><br>
    <input type="text" name="wordcloud" id="wordcloud"><br>
    <br><input type="submit" value="Submit"><br>
</form>
</body>
</html>