<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Math 506 Project 2 - Mustafa Shuala (g202006920)</title>
</head>
<h1>Data Retrieval using Twitter API and Dynamic Web Site Design using Flask</h1><br>
<h2>Math 506 Project 2 - Mustafa Shuala </h2><br>

<form role="form" id='form' action="../wordcloud" method="POST">
    <h1><label form="fname">Enter word to navigate:</label></h1><br>
    <input type="text" name="wordcloud" id="wordcloud"><br>
    <br><input type="submit" value="Submit"><br>
</form>
</body>
</html>