<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{wordcloud}}</title>
</head>
<br>
<img src='../static/kfupm_logo.jpg'>
<h1>MATH 506 - Fundamentals of Data Science</h1>
<hr>

<img src='../static/cloud.jpg'>
<hr>
<h2>You like it? :)</h2>
<hr>
<ul>
    Technically speaking, in this exercise I learned:
  <li>How to use Twitter API.</li>
  <li>How to plot wordcloud using Python.</li>
  <li>How to write Flask web framework.</li>
    <li>How to deploy Python application on Heroku.</li>
</ul>
Thank you Dr. Ahmet Tatar
</body>
</html>


